<h1>Edit Book</h1>

<form action="/books/<%= book.id %>?_method=PUT" method="POST">

  <div class="form-row">
    <label>Title</label>
    <input type="text" name="title" value="<%= book.title %>">
  </div>

  <div class="form-row">
    <label>Author (First)</label>
    <input type="text" name="authorFirst" value="<%= book.author_first %>">
  </div>

  <div class="form-row">
    <label>Author (Last)</label>
    <input type="text" name="authorLast" value="<%= book.author_last %>">
  </div>

  <div class="form-row">
    <label>Pages</label>
    <input type="number" name="pages" value="<%= book.pages %>" min="0">
  </div>

  <div class="form-row">
    <label>Genre</label>
    <select name="genre">
      <option value="">(optional)</option>
      <option value="Fiction"    <%= book.genre === 'Fiction' ? 'selected' : '' %>>Fiction</option>
      <option value="Economics"  <%= book.genre === 'Economics' ? 'selected' : '' %>>Economics</option>
      <option value="Philosophy" <%= book.genre === 'Philosophy' ? 'selected' : '' %>>Philosophy</option>
      <option value="History"    <%= book.genre === 'History' ? 'selected' : '' %>>History</option>
      <option value="Science"    <%= book.genre === 'Science' ? 'selected' : '' %>>Science</option>
      <option value="Music"      <%= book.genre === 'Music' ? 'selected' : '' %>>Music</option>
      <option value="Other"      <%= book.genre === 'Other' ? 'selected' : '' %>>Other</option>
    </select>
  </div>

  <div class="form-row">
    <label>Date Finished</label>
    <input type="date" name="dateFinished"
           value="<%= book.date_finished ? book.date_finished.toISOString().split('T')[0] : '' %>">
  </div>

  <div class="form-row">
    <label>Format</label>
    <div>
      <label><input type="radio" name="format" value="Book"
        <%= book.format === 'Book' ? 'checked' : '' %>> Book</label>

      <label><input type="radio" name="format" value="AudioBook"
        <%= book.format === 'AudioBook' ? 'checked' : '' %>> AudioBook</label>
    </div>
  </div>

  <button type="submit">Save Changes</button>
</form>